.addTaskButton {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    background-color: #16697a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .addTaskButton:hover {
    opacity: 0.9;
  }